<div style="margin-top:70px">
    <br><br> <h1 style="color:@ViewBag.color;text-align:center">@ViewBag.message</h1>
    <br><br> <h3 style="color:black;text-align:center">Sipariş Numarası: @ViewBag.orderNumber</h3>
</div>